@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Manrope&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;

}

.logo {
    width: 30%;

}

.logo1 {
    display: none;
    width: 40%;
}

.header {
    margin-top: 1%;
    margin-left: 3%;
    padding: 0.3%;
    border: 2px solid #155EEF;
    border-radius: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-right {
    color: #041330;
    font-family: 'Halant', serif;
    font-size: 27px;
    font-weight: 600;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    gap: 80%;

}

.header-button {
    border-radius: 10px;
    border-color: #155EEF;
    background-color: white;
    color: #155EEF;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 7%;
    padding: 0.5%;
    margin-right: 2%;

}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 10px;
    padding: 2% 1%;
    margin-top: 1%;
    margin-left: 3%;
    width: 95%;
    gap: 2%
}

h1 {
    font-family: 'Halant', serif;
    font-size: 25px;
}

h2 {
    font-family: 'Halant', serif;
    font-size: 63px;
    color: #155EEF;
    margin-top: 3%;
    margin-bottom: 5%;

}

.intro-text {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    width: 50%;
    line-height: 150%;
    margin-left: 2%;
    text-align: justify;

}

.intro-img {
    width: 45%;
    display: flex;
    justify-content: right;
    margin-right: 2%;
}

.intro-button {
    border-radius: 10px;
    background-color: #155EEF;
    border-style: none;
    color: antiquewhite;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    width: 28%;
    padding: 2%;
    margin-top: 5%;

}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 10px;
    padding: 2% 1%;
    margin-top: 2%;
    margin-left: 3%;
    width: 95%;
    gap: 8%;
}

.about-img {
    width: 60%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2%
}

.about-text {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    width: 70%;
    line-height: 150%;
    text-align: justify;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;

}

.header-about {
    font-size: 50px;
    margin-bottom: 4%;

}

.projects {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 10px;
    padding: 10% 2% 2%;
    margin-top: 3%;
    margin-left: 3%;
    width: 95%;
    position: relative;

}

.projects-header {
    font-size: 50px;
    line-height: 150%;
}

.projects-text {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    width: 55%;
    line-height: 130%;
    background: #F9FBFF;
    position: absolute;
    left: 5%;
    top: 10%;
    padding: 2%;
}

.projects-img {
    width: 50%;
}

.projects-img img {
    width: 100%;
}

.footer {
    border: 2px solid #155EEF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
    width: 95%;
    padding: 1%;

}

.footer-first {
    display: flex;
    gap: 25%;

}

.logo2 {
    width: 35%;
}

.logo1-footer {
    display: none;
}

.icons {
    display: flex;
    align-items: center;
    width: 4%;
    padding: 1%;
    gap: 120%;

}

.Vector2 {
    display: none;
}

.copyright {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    width: 40%;

}

ul {
    list-style: outside;
    margin-left: 5%;

}

li {
    padding-left: 1%;
}

@media screen and (max-width: 415px) {
    .header-right {
        display: none;
    }

    .header-button {
        display: none;
    }

    .logo1 {
        display: block;
        width: 50%;
    }

    .logo {
        display: none;

    }

    .logo2 {
        display: none;
    }

    .Vector2 {
        display: block;
        width: 5%;
        margin-right: 5%;

    }

    .intro {
        display: block;
        justify-content: center;
    }

    .intro-text {
        text-align: center;
        font-size: 18px;
        line-height: 150%;
        width: 95%;
        margin-top: 10%;

    }

    h1 {
        font-size: 18px;
        margin-top: 8%;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 6%;
    }

    br {
        display: none;
    }

    .intro-button {
        font-size: 16px;
        font-weight: 600;
        width: 98%;
        padding: 4%;
        margin-top: 8%;
    }

    .intro-img {
        width: 100%;
        margin-top: 10%;
    }

    .about {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 8%;
    }

    .about-text {
        text-align: justify;
        font-size: 17px;
        line-height: 150%;
        width: 95%;
        margin-left: 2%;
    }

    .header-about {
        text-align: center;
        font-size: 25px;
        margin-top: 3%;

    }

    .about-img {
        width: 95%;
        margin-right: 2%;
        padding: 2%;

    }

    .projects {
        display: none;
    }

    .footer {
        display: inline-block;
        padding: 3%;
        width: 95%;
        margin-top: 6%;

    }

    .footer-first {
        width: 80%;
        gap: 10%;
        padding: 1%;

    }

    .logo1-footer {
        display: block;
        width: 65%;

    }

    .icons {
        width: 10%;

    }

    .copyright {
        text-align: center;
        font-size: 15px;
        width: 95%;
        padding: 2%;
    }
}