@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Manrope&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2% 3%;
    margin: 0% auto;
}

img {
    width: 100%;
}

.logo-header {
    width: 60%;
}

.logo-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    border: 2px solid #155EEF;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: #041330;
    font-family: 'Halant', serif;
    font-size: 27px;
    font-weight: 600;
}

.nav2,
.close-menu {
    display: none;
}

.nav2 {
    flex-direction: column;
    align-items: center;
    position: static;
    top: 0%;
    /* left: 50%;
    right: 50%; */
    height: 100vh;
    padding-top: 10%;
    background-color: #F9FBFF;
    width: 100%;

}

a {
    color: black;
    text-decoration: none;
}

.header-button {
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    border-color: #155EEF;
    background-color: white;
    color: #155EEF;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-right: 5%;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 10px;
    padding: 3% 2%;
    margin-bottom: 3%;
    gap: 10%;
}

h1 {
    font-family: 'Halant', serif;
    font-size: 25px;
    margin-bottom: 5%;
}

h2 {
    font-family: 'Halant', serif;
    font-size: 63px;
    color: #155EEF;
    margin-bottom: 7%;
}

.intro-text {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    width: 60%;
    line-height: 150%;
}

.intro-img {
    width: 50%;
    display: flex;
    justify-content: right;

}

.intro-button {
    border-radius: 10px;
    background-color: #155EEF;
    border-style: none;
    color: antiquewhite;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    width: 30%;
    padding: 2%;
    margin-top: 5%;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 10px;
    padding: 5% 2%;
    margin-bottom: 5%;
    gap: 8%;
}

.about-img {
    width: 60%;
}

.about-text {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    width: 70%;
    line-height: 150%;
    text-align: justify;
}

.header-about {
    font-size: 50px;
    margin-bottom: 4%;
}

.projects {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3%;
    position: relative;
    padding: 3% 2%;
    padding-top: 15%;
    border: 2px solid #155EEF;
    border-radius: 10px;

}

.projects-header {
    font-size: 50px;
}

.projects-text {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    background: #F9FBFF;
    position: absolute;
    left: 3%;
    top: 5%;
    z-index: 1;
    width: 50%;
    padding: 2% 3%;
    line-height: 120%;
}

ul {
    margin-left: 5%;
}

li {
    padding-left: 1%;
}

.projects-img {
    display: flex;
    width: 50%;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border: 2px solid #155EEF;
    border-radius: 10px;
}

.logo2-footer {
    width: 35%;
}

.logo1-footer {
    display: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 2%;
    gap: 80%;
}

.hamburger {
    display: none;
}

.copyright {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    width: 35%;
    margin-right: 1%;
}



@media screen and (max-width: 500px) {
    nav {
        display: none;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav2.visible {
        display: flex;
        font-size: 23px;
        font-weight: 600;
        gap: 4%;
        font-family: 'Halant', serif;
    }

    hr {
        color: black;
        width: 60%;
    }

    .close-menu {
        display: block;
        width: 30%;
        margin-left: 55%;
    }

    .close-menu.inactive {
        display: none;
    }

    .close-menu.hide {
        display: none;
    }

    .header-button {
        display: none;
    }

    .logo-header,
    .logo2-footer {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 50%;
        margin-left: 2%;
    }

    .hamburger {
        display: block;
        width: 30%;
        margin-left: 35%;

    }

    .hamburger.hide {
        display: none;
    }

    .intro {
        display: block;
        justify-content: center;
    }

    .intro-text {
        text-align: center;
        font-size: 18px;
        line-height: 150%;
        width: 95%;
        margin-top: 10%;
    }

    h1 {
        font-size: 18px;
        margin-top: 8%;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 6%;
    }

    .intro-button {
        font-size: 16px;
        font-weight: 600;
        width: 98%;
        padding: 4%;
        margin-top: 8%;
        margin-left: 3.5%;
    }

    .intro-img {
        width: 100%;
        margin-top: 10%;
    }

    .about {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 8%;
    }

    .about-text {
        text-align: justify;
        font-size: 17px;
        line-height: 150%;
        width: 95%;
        margin-left: 2%;
    }

    .header-about {
        text-align: center;
        font-size: 25px;
        margin-top: 3%;
    }

    .about-img {
        width: 95%;
        margin-right: 2%;
        padding: 2%;
    }

    .projects {
        padding: 1% 2%;
    }

    .projects-img {
        display: none;
    }

    .projects-header {
        font-size: 25px;
        text-align: center;
    }

    .projects-text {
        font-size: 16px;
        position: static;
        width: 100%;
        margin-bottom: 8%;
    }

    ul {
        padding: 2%;
    }

    .footer {
        flex-wrap: wrap;
        padding: 2%;
        width: 100%;
        margin-top: 6%;
    }

    .logo1-footer {
        display: flex;
        width: 45%;

    }

    .icons {
        width: 3%;
        margin-right: 15%;
        gap: 80%;
    }

    .copyright {
        text-align: center;
        font-size: 15px;
        width: 100%;
    }
}
